<%= link_to 'Back', project_path, class: 'btn btn-outline-primary mb-3' %>
<div class="card"></div>
  <div class="card-body">
    <h2 class="card-title mb-4"><span>Edit project</span></h2>
  </div>

  <%= render 'form' %>
</div>
